
.contact-info {
  font-size: 18px;
  margin-bottom: 10px;
  overflow: hidden;
  &__title {
    display: inline-block;
    width: 100px;
    font-weight: 900;
    float: left;
  }
  &__contact {
    width: calc(100% - 100px);
    float: left;
  }
}
