.file-download {
  &__card {
    border-radius: $card__radius;
    background-color: $j-green;
    display: block;
    padding-bottom: 30px;
    overflow: hidden;
  }
  &__title {
    font-size: 20px;
     color: white;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 25px;
    background-color: $j-green;
  }
  &__icon {
    width: 60px;
    margin: auto;
    display: block;
  }
}
