.footer {
  background-color: white;
  padding: 25px 0;

  &__inner {
    @extend %container;
    height: 100%;
  }

  &__link {
    display: inline-block;
    height: 100%;
    margin: 0 10px;

    img {
      height: 100%;
      display: block;
    }
  }
  &__right {
    &__link {
      margin: 10px 0 10px 10px;
      display: block;
    }
  }
  @media (min-width: $m-breakpoint) {
    height: 150px;

    &__right {
      float: right;
      text-align: right;
      margin-top: 45px;

      &__link {
        margin: 0 0 0 20px;
        display: inline;
      }
    }
  }
}
