.home-banner {
  height: calc(100vh - 100px);
  width: 100%;
  background-position: center;
  background-size: cover;
}

.site-nav {
  z-index: 1500;
  top: 0;
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: white;
  &__logo{
    display: none;
    position: absolute;
    height: calc(100% - 10px);
    margin: 5px;
    &--mobile {
      display: block;
    }
    img {
      height: 100%;
    }
  }
  &__container {
    @extend %container;
    text-align: right;

  }
  &__toggle {
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    height: 30px;
    width: 30px;
    right: 20px;
    top: 20px;
    &__bar {
      width: 100%;
      height: 2px;
      border-radius: 2px;
      position: absolute;
      left: 0;
      transition: transform .5s, width .5s;
      background-color: black;
      top: 14px;
    }
    &__1 {
      transform: translateY(-14px);
      .active & {
        transform: rotate(45deg);
      }
    }
    &__2 {
      .active & {
        transform: translateX(100%);
      }
    }
    &__3 {
      transform: translateY(+14px);
      .active & {
        transform: rotate(-45deg);
      }
    }
  }

  &__menu {
    height: 0;
    transition: height .5s;
    overflow: hidden;
    position: fixed;
    top: 70px;
    background-color: white;
    left: 0;
    width: 100%;
    &.active {
      height: 100%;
    }
    li{
      margin-top: 3px;
  border-right: 10px solid;
      font-size: 1.2rem;

      &:nth-child(7n + 1) {
        border-color: $j-yellow;
      }
      &:nth-child(7n + 2) {
        border-color: $j-orange;
      }
      &:nth-child(7n + 3) {
        border-color: $j-green;
      }
      &:nth-child(7n + 4) {
        border-color: $j-blue;
      }
      &:nth-child(7n + 5) {
        border-color: $j-brown;
      }
      &:nth-child(7n + 6) {
        border-color: $j-black;
      }
      &:nth-child(7n) {
        border-color: $j-red;
      }
      a {
        display: block;
        padding: 30px 20px;
        text-align: left;
      }
    }
  }
}
@media (min-width: $m-breakpoint) {
  .site-nav {
    height: 100px;
    position: relative;
    &__toggle {
      display: none;
    }
    &__menu {
      height: auto;
      position: static;
      li {
        border-right: none;
        display: inline-block;
        border-bottom: 5px solid;
        padding-right: 15px;
        min-width: 120px;
        padding-bottom: 5px;
        height: 30px;
        margin: 70px 10px 0;
        text-align: left;
        a {
          display: inline;
          padding: 0;
        }
      }
    }
    &__logo {
      display: block;
      &--mobile {
        display: none;
      }
    }
  }

}
