.indication-message {
  display: block;
  padding: $card__padding;
  color: white;
  font-size: 20px;
  border-radius: $card__radius;
  margin-bottom: 50px;
  transition: box-shadow .3s;
  &--link:hover {
    box-shadow: $container__shadow;
  }
}
