.pagination {
  font-size: 15px;
  display: flex;
  justify-content: end;
  &__link {
    display: inline-block;
    margin: 0 3px;
    color: $j-blue;
    &--active {
      color: $text-color;
    }
  }
  &__prev, &__next {
    margin: 0 5px;
    color: $j-blue;
  }
}
