/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

.wysiyg {
  strong {
    font-weight: bold;
  }

  ul, ul > li {
    list-style-type: disc;
  }
  p, img, ul {
    margin-bottom: 10px;
  }
  ul {
    padding-left: 20px;
  }
  li li {
    list-style-type: circle;
  }
}

tr.border-top {
  border-top: 2px solid #ccc;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.table-stripped {
  margin-bottom: 30px;
  border-radius: $card__radius;
  overflow: auto;
  border: $card__border;
  table {
    width: 100%;
  }
  td, th {
    text-align: left;
    padding: 15px;
  }
  th {
    background-color: $j-blue;
    color: white;
    font-weight: bold;
  }
  tr {
    &:nth-child(odd) {
      background-color: $secondary-color;
    }
  }
  tr:not(.no-border) td {
    border-top: $card__border;
  }
}
