$main-color: #ffffff;
$secondary-color: #ECEFF1;
$j-yellow:#ECE327;
$j-orange:#F2A528;
$j-green:#169345;
$j-blue:#204E9B;
$j-brown:#86231E;
$j-black:#000000;
$j-red:#C91B15;

$container__radius: 50px;
$container__shadow: 0 3px 6px rgba(black, .15);

$xs-container: calc(100% - 20px);
$s-container: 600px;
$m-container: 900px;
$l-container: 1240px;
$xl-container: 1500px;



$s-breakpoint: 610px;
$m-breakpoint: 1080px;
$l-breakpoint: 1280px;
$xl-breakpoint: 1600px;

$s-font: 14px;
$l-font: 14px;

$text-color: #6a6a6a;
$title-color: #5A5A5A;

$text-family: "Lato", sans-serif;
$title-family: "Montserrat", sans-serif;

$card__border: 1px solid #CACACA;
$card__padding: 30px 25px;
$card__radius: 10px;

$global-margin: 25px;

$transtion-time: .3s
